<app-menu></app-menu>
<h3>EMPRESA</h3>
<p class="mx-3"><p class="mx-3">Empresa familiar fundada en el año 1995 con más de 15 Años de Trayectoria en el Gremio de la Refrigeración. En un principio Refri & Arte se dedicaba al Servicio Técnico y a la venta de repuestos de refrigeración doméstica. Con la llegada del nuevo milenio y atendiendo a las necesidades del mercado, fue incursionando tambien en la venta de repuestos para la refrigeración comercial e industrial, posicionándose como una empresa sólida y con miras hacia el futuro.

    Nuestra Empresa se ha caracterizado, desde sus inicios, por el trato personalizado que brinda a sus clientes, por la rapidez del servicio y por ofrecer una amplia gama de productos dirigidos a diferentes sectores de la economía.
    
    Disponemos de un amplio stock de Equipos y Repuestos de Marcas Líderes Como YORK, DANFOSS, CARRIER, SURREY, etc. Ofrecemos ademas Maquinas, Herramientas, Mensulas, Equipos de soldar, Gases Refrigerantes, Bombas de Vacío, Filtros de cobre, Válvulas, Plaquetas, Controles remotos, Motocompresores.
    
    Tambien contamos con un variado stock de Repuestos de Heladeras, Freezer, Lavarropas, Secarropas y Cocinas.</p>
<h3>NUESTROS SERVICIOS</h3> 
<p class="mx-3">Ofrece además sin costo alguno Asesoramiento Técnico brindando Atención personalizada.

    También se reciben consultas sobre trabajos especiales o a medida de los requerimientos del cliente. Asimismo, ponemos a su disposición un servicio de entrega y envíos, tanto para la zona Metropolitana como para el resto del país    </p>

    <br>

    <div class="row ">
      <div class="col-md-12 text-light bg-dark">
          <br>    
      </div>
      <div class="col-md-12 text-light bg-dark d-flex justify-content-center">
          <p>
              Desarrollado por Alex 
          </p> 
      </div>
      <div class="col-md-12 text-light bg-dark">
        <br>
      </div>
    </div>