<div class="container-fluit">
    <div class="row  ">
      <div class="col-sm-4 text-light bg-dark d-flex justify-content-center pt-2"><i class="fa-solid fa-house"></i><p class="ms-1"><i>Calle 1 nº 3155(Berazategui)</i></p></div>
      <div class="col-sm-4 text-light bg-dark d-flex justify-content-center pt-2"><i class="fa-solid fa-phone"></i><p class="ms-1"><i>(011)20727036</i></p></div>
      <div class="col-sm-4 text-light bg-dark d-flex justify-content-center pt-2"><i class="fa-brands fa-whatsapp"></i><p class="ms-1"><i>Whatsapp (011)1558440271</i></p></div>
      <div class="col-sm-4 d-flex justify-content-center align-self-center"><img src="assets/img/zonaRefri.jpg" width="200" height="100" alt=""></div>
      <div class="col-sm-3 d-flex justify-content-center">
        <div class="row">
            <div class="col-1 align-self-center"><i class="fa-solid fa-envelope fs-4"></i></div>
            <div class="col-8 align-self-center mx-2"><p><b><i>CORREO</i></b><br>Gastygmail.com</p></div>
        </div>
       </div>

       <div class="col-sm-3 d-flex justify-content-center">
        <div class="row">
            <div class="col-1 align-self-center"><i class="fa-solid fa-location-dot fs-4"></i></div>
            <div class="col-8 align-self-center mx-2"><p><b><i>Ubicacion</i></b><br>Calle 1 nº3155 </p></div>
        </div>
       </div>
    </div>
 
 <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-end"> 
     
       <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>  
      
       <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Empresa">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
       </div> 
    </div>
  </nav>
</div>


<div class="sidebar-nav">

      <div class="container"> 
          <!-- Mobile Menu Toggle Button -->
         
          <!-- Menus List -->
          <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body bg-dark">
                  <ul class="navbar-nav">
                      <li><a href="/"><i class="fa-solid fa-house mx-1"></i><span class="item-text">Home</span></a></li>
                      <li><a href="#Empresa"><i class="fa-regular fa-building mx-1"></i> <span class="item-text">Quienes Somos</span></a></li>
                      <li><a href="/contacto"><i class="fa-solid fa-map-location mx-1"></i> <span class="item-text">Contacto</span></a></li>
                  </ul>
            </div>
          </div> 
          
          </div> 
  
</div>