
      <router-outlet></router-outlet>
     <!-- <img src="/assets/img/man1.png" class="img-fluid" alt="Responsive image"> -->
      <!-- Jumbotron -->
      <!-- <div class="jumbotron">
        <h1 class="display-4">Jumbotron</h1>
        <p class="lead">This is  a jumbotron created using the bootstrap 4</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div> -->
        <!-- Jumbotron -->
     
<!-- </div> -->