<ngb-carousel>
    <ng-template *ngFor="let pelicula of peliculas" ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="{{pelicula.img}}" class="img-fluid" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          
        </div>
      </ng-template>
  
  </ngb-carousel>
  