<!-- <div class="container"> -->

    <app-menu></app-menu>

    <app-slider></app-slider>
    <a href="https://api.whatsapp.com/send?phone=541123028129" class="btn-wsp" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    <br>
    <div class="row ">
        <div class="col-md-6">
            <img src="assets/img/man3.jpg" class="d-block w-100" alt="Random first slide">
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-12 align-self-center text-center"><h3 id="Empresa">Empresa</h3></div>
                <div class="col-12 align-self-center text-center"><p class="mx-3">Empresa familiar fundada en el año 2022 con más de 6 Años de Trayectoria en el Gremio de la Refrigeración, linea blanca y 14 años en reparación de computadoras. En un comienzo Zona Refri se dedicaba al arreglo de establecimientos y maquinarias de fabrica, supermercados,departamentos,logisticas; pero luego con la demanda de electrodomésticos de parte de clientes se decidio inclinarse solo al arreglo de este último incorporando servicio de computación y al mismo tiempo adaptarse a los avances tecnológicos de la era. Asimismo ponemos a su disposición y facilidad el servicio a domicilio, tanto para gran buenos aires y capital federal.</p></div>
            </div>
          
        </div>
      </div>
      <br>
      <div class="jumbotron">
          <br>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 text-light d-flex justify-content-center">
                <h3>NUESTROS SERVICIOS</h3>
            </div>
            <div class="col-md-6 text-light text-center">
                <p class="mx-3">Ofrece además sin costo alguno Asesoramiento Técnico brindando Atención personalizada.

                    También se reciben consultas sobre trabajos especiales o a medida de los requerimientos del cliente. Asimismo, ponemos a su disposición un servicio de entrega y envíos, tanto para la zona Metropolitana como para el resto del país    </p>
                
              
            </div>
          </div>
      </div>


      <br>

      <div class="row ">
        <div class="col-md-12 text-light bg-dark">
            <br>    
        </div>
        <div class="col-md-12 text-light bg-dark d-flex justify-content-center">
            <p>
                Desarrollado por Alex 
            </p> 
        </div>
        <div class="col-md-12 text-light bg-dark">
          <br>
        </div>
      </div>